#BackToTop {float: left;display:none;color: #eeeeef;margin: 0 5px;padding: 8px 10px 8px 10px;text-decoration: none;border: 1px solid #a0a0a1;font-size: 140%;text-transform:uppercase;position:fixed;top:550px;right:10px;background-color: #a0a0a0;}

